body {
  margin: 0;
  padding: 0;
  background-image: url('../assets/background-image.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.my-adoptions-container {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

h1 {
  color: #ffffff;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.separator {
  height: 2px;
  background-color: #ffffff;
  margin: 10px 0 20px;
}

.adoption-box {
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  border-radius: 8px;
  width: 300px;
  color: #ffffff;
  transition: transform 0.3s;
}

.adoption-box:hover {
  transform: scale(1.05);
}

.toggle-button {
  background-color: #5a5a5a;
  color: white;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.toggle-button:hover {
  background-color: rgb(141, 19, 19);
  color: #f1f1f1;
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.toggle-button:active {
  transform: translateY(0);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.adoption-content {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  list-style: none;
}

.adoption-content ul {
  padding: 0;
  margin: 0;
}

.adoption-content li {
  margin: 5px 0;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.action-buttons button {
  background-color: grey;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease;
}

.action-buttons button:hover {
  background-color: rgb(141, 19, 19);
  color: #f1f1f1;
  transform: scale(1.05);
}

.action-buttons button:active {
  transform: scale(1);
}

.contact-link {
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
}

.contact-link:hover {
  text-decoration: underline;
}
